@model AlbumVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="backgr-section">
    <div class="backgro_mh">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heding">
                        <h2>Albums</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="categories">
                    <li>Genres: </li>
                    <li class="category-item"><a href="" data-id="all">All</a></li>
                    @foreach (Genre item in Model.Genres)
                    {
                        <li class="category-item"> <a class="album" href="" data-id="@item.Name.ToLower()">@item.Name</a></li>
                    }
                    <li class="category-item"><i class="last_manu" href="#"><img src="~/images/search_icon.png" alt="#"></i></li>
                    <li class="category-item"><input id="header-search" class="header-search" placeholder="Search:" style="display: none;" type="text"></li>
                </ul>
                <ul id="searchList" class="Result">

                </ul>
            </div>
        </div>
        <div class="row oneMusic-albums">
            @foreach (Album item in Model.Albums)
            {

                <div class="col-lg-3 col-sm-3 col-md-3 col-lg-2 ">
                    <div class="genre-item" data-id="@item.Genre.Name.ToLower()">
                        <div class="single-album">
                            <img src="~/images/@item.ImageUrl" alt="">
                            <div class="album-info">
                                <a asp-action="Detail" asp-route-id="@item.Id">
                                    <h2 class="album-name">@item.Artist.Name</h2>
                                </a>
                                <p class="album-song">@item.Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>