@model DashboardVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-sm-flex align-items-baseline report-summary-header">
                            <h5 class="font-weight-semibold">Report Summary</h5> <span class="ml-auto">Updated Report</span>
                            <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row report-inner-cards-wrapper">
                    <div class=" col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Albums</span>
                            <h4>@Model.Albums.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-success">
                            <i class="icon-picture"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Artists</span>
                            <h4>@Model.Artists.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-danger">
                            <i class="icon-user-follow"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">SONGS:</span>
                            <h4>@Model.Songs.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-warning">
                            <i class="icon-music-tone-alt"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">GENRES</span>
                            <h4>@Model.Genres.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-primary">
                            <i class="icon-layers"></i>
                        </div>
                    </div>
                </div>
                <div style="margin-top:50px" class="row report-inner-cards-wrapper">
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Users</span>
                            <h4>@Model.AppUsers.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-primary">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Sliders</span>
                            <h4>@Model.Sliders.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-warning">
                            <i class="icon-share-alt"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Events</span>
                            <h4>@Model.Events.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-success">
                            <i class="icon-paper-plane"></i>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl report-inner-card">
                        <div class="inner-card-text">
                            <span class="report-title">Roles</span>
                            <h4>@Model.IdentityRoles.Count()</h4>

                        </div>
                        <div class="inner-card-icon bg-danger">
                            <i class="icon-people"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>